{% extends "../layouts/default.twig" %} {% block content %}
<div class="container">
  <img src="/images/logo.svg" width="160"> {% if (user is defined) and (user.canAccessKeystone) %}
  <p>
    <a href="/keystone" class="btn btn-lg btn-primary">Open the Admin UI</a>
  </p>
  {% endif %}
  <hr>
</div>
{% endblock %}
