{% import "../mixins/flash-messages.twig" as FlashMessages %} {% spaceless %}
<!doctype html>
<html>
<noscript>You don't have JavaScript enabled, cmon let us track you.</noscript>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title|default("Alpha Tau Foundation") }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-amber.min.css" />
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <link href="/styles/site.css" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/png"> {% if user and user.canAccessKeystone %} -->
  <link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
  {% endif %}

  {% block head %}{% endblock %}
</head>

<body>

  <!-- Uses a header that contracts as the page scrolls down. -->
  <style>
    .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
      padding-right: 0;
    }
  </style>

  <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
      <!-- Top row, always visible -->
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">AlphaTauFoundation</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
          </div>
        </div>
      </div>
      <!-- Bottom row, not visible on scroll -->
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/blog">Blog</a>
          <a class="mdl-navigation__link" href="/contact">Contact</a>
          {% if (user is defined) and (user.canAccessKeystone) %}
            <a class="mdl-navigation__link" href="/keystone">Admin</a>
          {% endif %}
        </nav>
      </div>
    </header>
    <nav class="mdl-layout__drawer">
      <span class="mdl-layout-title">ATF</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/blog">Blog</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        {% if (user is defined) and (user.canAccessKeystone) %}
          <a class="mdl-navigation__link" href="/keystone">Admin</a>
        {% endif %}
      </nav>
    </nav>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div id="body">
          {% block intro %}{% endblock %} {{ FlashMessages.renderMessages(messages) }} {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <footer id="footer">
      {% if (user is defined) and (user.canAccessKeystone) %}
      <p>
        <a href="/keystone" class="btn btn-lg btn-primary">Open the Admin UI</a>
      </p>
      {% endif %}
    </footer>
  </div>


  <!-- <div id="footer" class=""> -->

  <!-- <script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script> -->
  <!-- {% if (user is defined) and (user.canAccessKeystone) %} -->
  <!-- <script src="/js/jquery/jquery-1.11.3.min.js"></script> -->
  <!-- <script src="/keystone/js/content/editor.js"></script> -->
  {% endif %} {% block js %}{% endblock %}
  <!-- </div> -->
</body>

</html>
{% endspaceless %}
