* {
  margin: 0;
  padding: 0; }

body {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: red; }

header {
  background-color: green;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-bottom: 20px; }

main {
  align-self: stretch; }

footer {
  display: block;
  align-self: flex-end; }
