.mdl-layout__container {
  position: absolute;
  top: 0; }

html {
  color: whitesmoke;
  background: #e2dc4f; }

body {
  display: flex;
  flex-direction: column; }

html, body {
  background-color: #3F3F3F; }

main {
  height: 100vh;
  align-content: stretch; }

footer {
  background-color: black; }

a {
  text-decoration: none; }

.column_container {
  padding-top: 1em;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important; }

.column_item {
  flex-grow: 1; }

.card-wide.mdl-card {
  width: 512px;
  color: black; }

.card-wide-mdl-card a {
  color: black; }

.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("../assets/demos/welcome_card.jpg") center/cover; }

.card-wide > .mdl-card__menu {
  color: #fff; }
